<header>

    <ul class="navbar">
        <li class="navbar" id="back"><a href="javascript:history.back()"><i class="fa fa-arrow-left fa-1x"></i></a></li>
        <li class="navbar nav-title"><a href="/sport">The Game Plan</a></li>
        <li class="navbar right"><a href="#logout"><i class="fa fa-sign-out fa-1x"></i></a></li>
        <li class="navbar right" id="help"><a href="/help"><i class="fa fa-question-circle fa-1x"></i></a></li>
    </ul>

    <!-- Popup to confirm logout -->
    <div id="logout" class="overlay">
        <div class="popup">
            <center>
            <div class="logout-content">
                Are you sure you want to logout?<br>
                <ul class="logout-list">
                    <li class="logout-list"><a href="javascript:history.back()" style="background-color: #333333">Cancel</a></li>
                    <li class="logout-list"><a href="/logout" style="background-color: #FEC904"><b>Logout</b></a></li>
                </ul>
            </div>
            </center>
        </div>
    </div>
</header>