{{>navbar}}
<section id = "chatbox">
    <h1 id = "sport" style = "font-size: 90px"></h1>
    <div id="inner">
        <form id="send_message" action="">
            <input id="user_input" placeholder="Chat here to find other players!" autocomplete="off" />
        </form>
        <ul id="messages"></ul>
    </div>
</section>
<section id = "chatbox">
<!-- <div id = "facWrapper">
	<div id = "button1" class = "facButton">
	</div>
	<div id = "button2" class = "facButton">
    </div>
    <div id = "button3" class = "facButton">
    </div>
 </div> -->
</section>
<div id = "facWrapper">

  <h1 id = "where" style = "font-size: 50px; text-decoration: underline"> Where to play: </h1>
	<div id = "button1" class = "facButton">
	</div>
	<div id = "button2" class = "facButton">
    </div>
    <div id = "button3" class = "facButton">
    </div>
 </div>
<!-- <footer>
    &copy; 2016. COGS 121 Spring 2016
</footer> -->
<script src="./js/jquery.min.js"></script>
<script src="./js/socket.io.min.js"></script>
<script src="./js/sportChat.js"></script>
<script src="./js/search.js"></script>
<script>
  var windowNum = window.location.href.split("=");
  var sportName = windowNum[1];


  if(sportName == "ultimate_frisbee"){
    $("#sport").html("Ultimate Chat");
  }
  else{
    $("#sport").html(sportName + " Chat");
  }

  if(sportName == "basketball"){
  	$("#button1").append("<a href = '/fac?id=0'><img src='http://sportsfac.ucsd.edu/_images/rimac/aux-gym.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>Rimac Auxiliary Gym</h1></a>");
  	$("#button2").append("<a href = '/fac?id=1'><img src='https://sportsfac.ucsd.edu/_files/Muir%20Field%20-%20aerial%20with%20basketball%20and%20tennis%20courts.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>Muir Courts</h1></a>");
  	$("#button3").append("<a href = '/fac?id=2'><img src='http://www.landscapeonline.com/research/lasn/2014/06/img/25609/25609-7.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1 style = 'font-size:30px; text-align:center'>Revelle Outdoor Courts</h1></a>");
  }

  else if(sportName == "badminton"){
    $("#button1").append("<a href = '/fac?id=3'><img src='http://sportsfac.ucsd.edu/_images/main-gym/main-floor2.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>Main Gym</h1></a>");
    $("#button2").append("<a href = '/fac?id=4'><img src='http://sportsfac.ucsd.edu/_images/main-gym/rec-gym2.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>Recreation Gym</h1></a>");
    $("#button3").append("<a href = '/fac?id=0'><img src='http://sportsfac.ucsd.edu/_images/rimac/aux-gym.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>Rimac Auxiliary Gym</h1></a>");
  }

  else if(sportName == "jogging"){

    $("#where").html("Where to run:");
  	$("#button1").append("<a href = '/fac?id=5'><img src='http://dirttreaders.com/phpBB3/gallery/pic.php?mode=lrg&pic_id=5781' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>Eucalyptus Grove</h1></a>");
  	$("#button2").append("<a href = '/fac?id=6'><img src='http://sportsfac.ucsd.edu/_images/track/track.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>UCSD Spanos Track</h1></a>");
  	 $("#button3").append("<a href = '/fac?id=11'><img src='http://static1.squarespace.com/static/56b065733c44d81dc1cf6739/t/56cbb3abe32140833fc5509f/1456190429075/' alt='some_text' height='120' width='100%' class = 'img'><h1 style = 'font-size:30px; text-align:center'>Campus Loop</h1></a>");
  }

  else if(sportName == "ultimate_frisbee"){
  	$("#button1").append("<a href = '/fac?id=7'><img src='https://sportsfac.ucsd.edu/_files/Muir%20Field%20-%20aerial%20with%20basketball%20and%20tennis%20courts.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>Muir Field</h1></a>");
  	$("#button2").append("<a href = '/fac?id=8'><img src='http://i.ytimg.com/vi/nE7V-cr78FQ/0.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>Warren Field</h1></a>");
  	 $("#button3").append("<a href = '/fac?id=9'><img src='http://sportsfac.ucsd.edu/_images/fields/rimac-field4.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1 style = 'font-size:30px; text-align:center'>NCRA Field</h1></a>");
  }
  else if(sportName == "tennis"){
  	$("#button1").append("<a href = '/fac?id=10'><img src='http://sportsfac.ucsd.edu/_images/outdoor/northview-tennis-courts.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>North Campus Courts</h1></a>");
  	$("#button2").append("<a href = '/fac?id=1'><img src='https://sportsfac.ucsd.edu/_files/Muir%20Field%20-%20aerial%20with%20basketball%20and%20tennis%20courts.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>Muir Courts</h1></a>");
  	$("#button3").append("<a href = '/fac?id=12'><img src='http://sportsfac.ucsd.edu/_images/outdoor/ncra-tennis-courts.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1 style = 'font-size:30px; text-align:center'>Marshall College Courts</h1></a>");
  }
   else if(sportName == "volleyball"){
  	$("#button1").append("<a href = '/fac?id=4'><img src='http://sportsfac.ucsd.edu/_images/main-gym/main-floor2.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>Main Gym</h1></a>");
  	$("#button2").append("<a href = '/fac?id=0'><img src='http://sportsfac.ucsd.edu/_images/rimac/aux-gym.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>Rimac Auxiliary Gym</h1></a>");
    $("#button3").append("<a href = '/fac?id=4'><img src='http://sportsfac.ucsd.edu/_images/main-gym/rec-gym2.jpg' alt='some_text' height='120' width='100%' class = 'img'><h1  style = 'font-size:30px; text-align:center'>Recreation Gym</h1></a>");
  }




</script>