{{>navbar}}

<div class="sport-title">
  <h2 id = "sport"></h2>
</div>

<section id = "chatbox">
    <div id="inner">
        <ul id="messages">
        	<li id="firstMsg">Be the one to get the conversation going to organize a meet-up!</li>
        </ul>
        <form id="send_message" action="">
            <input id="user_input" placeholder="Type here and press enter to get started!" autocomplete="off" />
        </form>
    </div>
</section>

<section id = "chatbox">
</section>

<div id = "facWrapper">
  <p id = "where"> Don't know where to play?<br>Here are some ideas! </p>
 <ul id="facilities"></ul>
</div>

<!-- <footer>
    &copy; 2016. COGS 121 Spring 2016
</footer> -->
<script src="./js/jquery.min.js"></script>
<script src="./js/socket.io.min.js"></script>
<script src="./js/sportChat.js"></script>
