
		{{>navbar}}

        <div>
		<div id = "map" style = "height: 250px; width: 40%; margin-left: 5%; margin-top:10% ; padding-top:-15%;float: left;display: inline">
		</div>

		<div id = "textStuff" style = "float: left; margin-top: 10%; margin-left:5%;margin-right:5%; width: 40%;display: inline">
			<h1 style = 'text-align: center; padding-top:10%; margin-top:-10%;margin-bottom:-5%;color: #fec904; font-size: 4vw'>{{name}}</h1>
			<p style = 'text-align: center; color: white; font-size: 1.9vw;line-height:1.5'>{{description}}</p>

		</div>
        </div>
		<section id = "pic" style = "margin-left: -2%; margin-right: 2%; margin-top: -5%; padding-top: -10%">
		    <center>
			<img src = {{pic}} style = 'width:85%;height:11%;margin-top:2%; padding-top:-20%;border-radius: 2%'>
			</center>
		</section>
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<script> 


			var map = L.map('map').setView([parseFloat({{lat}}), parseFloat({{long}})], 17);

			 mapLink='<a href="http://openstreetmap.org">OpenStreetMap</a>';

		    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		        attribution: 'Map data &copy; ' + mapLink,
		        maxZoom:18
		    }).addTo(map);

		    var marker = L.marker([parseFloat({{lat}}), parseFloat({{long}})]).addTo(map);

		</script>
		<script src="./js/jquery.min.js"></script>
		<script src="./js/socket.io.min.js"></script>
		<script src="./js/chatbox.js"></script>
