
		{{>navbar}}



		<div id = "map" style = "height: 250px; width: 40%; margin-left: 25px; margin-top: 25px; float: left">
		</div>

		<div id = "textStuff" style = "float: right; margin-top: 25px; margin-right: 70px; width: 50%">
			<h1 style = 'text-align: center; padding-top:15%; margin-top:-10%;margin-bottom:5px;color: #fec904; font-size: 55px'>{{name}}</h1>
			<p style = 'text-align: center; color: white; font-size: 30px;line-height:1.5'>{{description}}</p>

		</div>

		<section id = "pic" style = "margin-left: 0px; margin-right: 0px; margin-top: 0px; padding-top: 0px">
			<img src = {{pic}} style = 'width:90%; text-align: center;height: 250px;margin-top:5px; padding-top:-40px; border-radius: 8px'>
		</section>
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<script> 


			var map = L.map('map').setView([parseFloat({{lat}}), parseFloat({{long}})], 17);

			 mapLink='<a href="http://openstreetmap.org">OpenStreetMap</a>';

		    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		        attribution: 'Map data &copy; ' + mapLink,
		        maxZoom:18
		    }).addTo(map);

		    var marker = L.marker([parseFloat({{lat}}), parseFloat({{long}})]).addTo(map);

		</script>
		<script src="./js/jquery.min.js"></script>
		<script src="./js/socket.io.min.js"></script>
		<script src="./js/chatbox.js"></script>
