<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href="/css/style.css" rel="stylesheet">

		<title>Game Plan</title>
	</head>
	<body class="login">
		<div align="center" class="login-content">
  			
  			<div style="margin-top: 12%; margin-bottom: 10%">
  				<p style="font-size: 70px; font-align: center; font-weight: bold">GAME PLAN</p>
  			</div>

			<a href="/auth/twitter"><button class="btn-login">Click here to log in with Twitter</button></a>	
		</div>
	</body>
</html>