<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<title>Game Plan</title>
	</head>
	<body>
		{{>navbar}}

		<section>
		    <a href="/chat?id=basketball">Basketball</a>
		    <a href="/chat?id=jogging">Jogging</a>
		    <a href="/fac?id=warren_field">Facility</a>
		</section>

		<footer>
		    &copy; 2016. COGS 121 Spring 2016
		</footer>

		<script src="./js/jquery.min.js"></script>
		<script src="./js/socket.io.min.js"></script>
		<script src="./js/search.js"></script>
	</body>
</html>
