	<header>
    <ul class="navbar">
        <li class="navbar nav-title"><a href="/sport">The Game Plan</a></li>
        <li class="navbar right"><a href="#logout"><i class="fa fa-sign-out fa-1x"></i></a></li>
        <li class="navbar right" id="help"><a href="/help"><i class="fa fa-question-circle fa-1x"></i></a></li>
    </ul>

    <!-- Popup to confirm logout -->
    <div id="logout" class="overlay">
        <div class="popup">
            <center>
            <div class="logout-content">
                Are you sure you want to logout?<br>
                <ul class="logout-list">
                    <li class="logout-list"><a href="javascript:history.back()" style="background-color: #333333">Cancel</a></li>
                    <li class="logout-list"><a href="/logout" style="background-color: #FEC904"><b>Logout</b></a></li>
                </ul>
            </div>
            </center>
        </div>
    </div>
	</header>

	<section>
	    <!-- <a href="/chat?id=basketball">Basketball</a>
	    <a href="/chat?id=jogging">Jogging</a>
	    <a href="/fac?id=warren_field">Facility</a> -->
	    <div id = "choose">
	  		<div class = "choose">
		 		<h1>Choose a Sport!</h1>
			 	<center><div class = "icon">
			 		 <a href = "/chat?id=basketball"><img src="icon/basketball.png"/></a>
		  			 <a href = "/chat?id=ultimate_frisbee"><img src="icon/frisbee.png"/></a>
		   			 <a href = "/chat?id=badminton"><img src="icon/badminton.png"/></a>
		   			 <a href = "/chat?id=jogging"><img src="icon/jogging.png"/></a>
		   			 <a href = "/chat?id=tennis"><img src="icon/tennis.png"/></a>
		   			 <a href = "/chat?id=volleyball"><img src="icon/volleyball.png"/></a>
		        </div>
		    </center>
	        </div>
	    </div>
	</section>

	<script src="./js/jquery.min.js"></script>
	<script src="./js/socket.io.min.js"></script>

	<script>
		function myFunction() {
		    document.getElementById("choose").style.height = "100px";
		    document.getElementById("choose").style.width = "500px";
		}
	</script>
