{{>navbar}}
<section>
    <a href="/chat?id=basketball">Basketball</a>
    <a href="/chat?id=jogging">Jogging</a>
    <a href="/fac?id=warren_field">Facility</a>
    <div id = "choose">
  		<div class = "choose">
	 		<h1> Choose a Sport!</h1>
		 	<center><div class = "icon">
		 		 <a href = "/chat?id=basketball"><img src="icon/basketball.png"/></a>
	  			 <a href = "/chat?id=ultimate_frisbee"><img src="icon/frisbee.png"/></a>
	   			 <a href = "/chat?id=badminton"><img src="icon/badminton.png"/></a>
	   			 <a href = "/chat?id=jogging"><img src="icon/jogging.png"/></a>
	   			 <a href = "/chat?id=tennis"><img src="icon/tennis.png"/></a>
	   			 <a href = "/chat?id=volleyball"><img src="icon/volleyball.png"/></a>
	        </div>
	    </center>
        </div>
    </div>
</section>

<footer>
    &copy; 2016. COGS 121 Spring 2016
</footer>
<script src="./js/jquery.min.js"></script>
<script src="./js/socket.io.min.js"></script>
<script src="./js/search.js"></script>
<script>
function myFunction() {
    document.getElementById("choose").style.height = "100px";
    document.getElementById("choose").style.width = "500px";
}
</script>
