body{
  background-color: #102633;
}
h1{
  font-family: Amatic;
  text-align: center;
  color: #fec904;
  word-spacing: 15px;
  letter-spacing: 5px;
  font-size: 100px;
}

.choose{
  margin-top: 100px;
}
.icon{
  margin-top: 0px;
  display: inline-block;
  font-size: 0px;
  height: 800px;
}

.icon img{
  display: inline-block;
  margin: 0px;
  width: 15%;

}

.icon img:hover {
    opacity: 0.6;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

@font-face{
   font-family:fox in the snow;
   src:url(fox in the snow.ttf);
}
@font-face{
  font-family:Typewriter;
  src:url(Typewriter Press.ttf);
}